name: Lint GitHub Actions

on:
  push:
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  lint:
    name: Run actionlint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Validate
        uses: GrantBirki/json-yaml-validate@v4.0.0
